footer {
  background-color: #f6f5f4;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 40px 0;
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .footertop {
      display: flex;
      justify-content: space-between;
      width: 1180px;
      height: 14px;
      padding-bottom: 20px;

      .top1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 414px;
        height: 14px;
        .div-link {
          color: gray;
          text-decoration: none;
          font-family: "Montserrat";
          font-weight: 600;
          font-size: 16px;
          line-height: 140%;
          &:hover {
            color: black;
          }
        }
      }
      .top2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 197px;
        height: 14px;
        .div-link {
          color: gray;
          text-decoration: none;
          font-family: "Montserrat";
          font-weight: 600;
          font-size: 16px;
          line-height: 140%;
        }
      }
    }
    .footerbottom {
      display: flex;
      justify-content: space-between;
      width: 1180px;
      height: 26px;
      border-top: 1.2px solid #e0e0e0;
      padding-top: 24px;

      .logos {
        justify-content: space-between;
        align-items: center;
        display: flex;
        width: 150px;
        height: 24px;
      }
      .top3 {
        width: 246px;
        height: 12px;
        color: gray;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        align-items: center;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
@media screen and (max-width: 500px) and (min-width: 340px) {
  footer {
    padding: 0;
    .container {
      .footertop {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
        margin: 30px 0;
        justify-content: space-around;
        border-bottom: 1.2px solid #e0e0e0;
        .top1 {
          flex-direction: column;
          height: 100%;
          text-align: left;
          align-items: normal;
          width: auto;
          .div-link {
            font-size: 12px;
            padding: 8px 0;
          }
        }
        .top2 {
          flex-direction: column;
          height: 100%;
          text-align: left;
          align-items: normal;
          width: auto;
          .div-link {
            font-size: 12px;
            padding: 8px 0;
          }
        }
      }
      .footerbottom {
        flex-direction: column;
        height: auto;
        width: 100%;
        justify-content: center;
        border-top: 0;
        padding: 0;
        margin-bottom: 20px;
        .logos {
          height: auto;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 10px;
        }
        .top3 {
          height: auto;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
